.env
venv
loop.egg-info
.cursor
__pycache__
**/__pycache__/
.DS_Store
**/.DS_Store
TODO.md
*.ipynb_checkpoints
.pytest_cache
saved_models
*.ipynb
.coverage
dist/
build/
*.egg
*.pyc
test_x*.csv
*.csv
!logreg_broad_2_3600.csv
# Added by Task Master AI
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific

# Task files
tasks.json
tasks/
x_spec.txt
x_script.py